.login-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 30px;
    background-color: rgba(185, 248, 228, 0.377);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 50vh;
    width: 30vw;
    border-radius: 40px;
    
}

input{
    padding-left: 20px;
    margin-right: 10px;
    border-radius: 38px;
    width: 19vw;
    height: 45px;font-size: 20px;
}
input:focus{
    font-size: 20px;
}

.btn-signup{
    border: none;
    background-color: transparent;
    font-family: gotham;
    font-size: 16px;

}
.message{
    font-size: 15px;
    color: rgb(161, 3, 3);
    font-weight: 600;
}

.password-input{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 20vw;
    background-color: white;
    border-radius: 50px;
    border: 2px solid black;
}
.password-input button{
    background-color: transparent;
    border:none;
    font-size: 17px;
    margin-right: 20px;
}
.pass-input{
    border: none;
    background-color: transparent;

}

.pass-input:focus{
    outline: none;
}