body {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-content: center;
    align-items: center;
    background-image: url('./Images/Background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: gotham;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    gap:10px;
    border-radius: 40px;
    flex-direction: column;
    background-color: rgba(185, 248, 228, 0.377);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 40vh;
    width: 50vw;
    font-size: 25px;
}

.my-btn{
    background-color: #4CAF50;
    font-family: gotham;
    width: 200px;
    height: 50px;
    border-radius: 38px;
    font-size: 20px;
}

  